<a href="https://colab.research.google.com/github/lkovf/Academy2/blob/main/testAcademy.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [19]:
#example

In [20]:
!pip install -q kaggle
from google.colab import files
files.upload()
#create a kaggle folder
!mkdir ~/.kaggle
# Go on kaggle > Account > Create New API token
# Save the json file in your laptop in a dedicated folder
# copy the kaggle.json to folder created
!cp kaggle.json ~/.kaggle
#permission for the json to act
!chmod 600 ~/.kaggle/kaggle.json
# Datasets available here: 
# https://www.kaggle.com/uciml/red-wine-quality-cortez-et-al-2009
!kaggle datasets download -d uciml/red-wine-quality-cortez-et-al-2009
!unzip red-wine-quality-cortez-et-al-2009.zip

Saving kaggle.json to kaggle (4).json
mkdir: cannot create directory ‘/root/.kaggle’: File exists
red-wine-quality-cortez-et-al-2009.zip: Skipping, found more recently modified local copy (use --force to force download)
Archive:  red-wine-quality-cortez-et-al-2009.zip
replace winequality-red.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename: A
  inflating: winequality-red.csv

In [21]:
!cp kaggle.json ~/.kaggle
#permission for the json to act
!chmod 600 ~/.kaggle/kaggle.json
# Datasets available here:
# https://www.kaggle.com/mamtadhaker/lt-vehicle-loan-default-prediction
!kaggle datasets download -d mamtadhaker/lt-vehicle-loan-default-prediction
!unzip lt-vehicle-loan-default-prediction.zip

lt-vehicle-loan-default-prediction.zip: Skipping, found more recently modified local copy (use --force to force download)
Archive:  lt-vehicle-loan-default-prediction.zip
replace data_dictionary.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename: A
  inflating: data_dictionary.csv
  inflating: test.csv
  inflating: train.csv

In [23]:
import pandas as pd
import numpy as np
df = pd.read_csv('/content/winequality-red.csv')

In [24]:
df.head()

   fixed acidity  volatile acidity  citric acid  ...  sulphates  alcohol  quality
0            7.4              0.70         0.00  ...       0.56      9.4        5
1            7.8              0.88         0.00  ...       0.68      9.8        5
2            7.8              0.76         0.04  ...       0.65      9.8        5
3           11.2              0.28         0.56  ...       0.58      9.8        6
4            7.4              0.70         0.00  ...       0.56      9.4        5

[5 rows x 12 columns]

In [25]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1599 entries, 0 to 1598
Data columns (total 12 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   fixed acidity         1599 non-null   float64
 1   volatile acidity      1599 non-null   float64
 2   citric acid           1599 non-null   float64
 3   residual sugar        1599 non-null   float64
 4   chlorides             1599 non-null   float64
 5   free sulfur dioxide   1599 non-null   float64
 6   total sulfur dioxide  1599 non-null   float64
 7   density               1599 non-null   float64
 8   pH                    1599 non-null   float64
 9   sulphates             1599 non-null   float64
 10  alcohol               1599 non-null   float64
 11  quality               1599 non-null   int64
dtypes: float64(11), int64(1)
memory usage: 150.0 KB

In [26]:
df.tail()

      fixed acidity  volatile acidity  citric acid  ...  sulphates  alcohol  quality
1594            6.2             0.600         0.08  ...       0.58     10.5        5
1595            5.9             0.550         0.10  ...       0.76     11.2        6
1596            6.3             0.510         0.13  ...       0.75     11.0        6
1597            5.9             0.645         0.12  ...       0.71     10.2        5
1598            6.0             0.310         0.47  ...       0.66     11.0        6

[5 rows x 12 columns]

In [27]:
list_to_select = ['fixed acidity','volatile acidity']

df[list_to_select]

      fixed acidity  volatile acidity
0               7.4             0.700
1               7.8             0.880
2               7.8             0.760
3              11.2             0.280
4               7.4             0.700
...             ...               ...
1594            6.2             0.600
1595            5.9             0.550
1596            6.3             0.510
1597            5.9             0.645
1598            6.0             0.310

[1599 rows x 2 columns]

In [31]:
mask1 = df['fixed acidity']>7
print(mask1)

0        True
1        True
2        True
3        True
4        True
        ...
1594    False
1595    False
1596    False
1597    False
1598    False
Name: fixed acidity, Length: 1599, dtype: bool